.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(218, 192, 196);
    width: 100%;
    padding: 10px;
}

.left{
   
}

.right{
    display: flex;

}

p,a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 20px;
}
